@import "./mixins.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;

  aside {
    width: 25%;
    height: 100%;
    text-align: center;
  }

  section {
    background: #f6f6f6;
    width: 75%;

    .greetings {
      margin: 2% 15% 4% 5%;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #000000;
    }

    .customers {
      margin: 0 5% 10% 5%;
    }
  }
}

.isChosen {
  background-color: #5932ea;
  color: #ffffff;

  p,
  p svg path {
    color: #ffffff !important;
    border-color: #ffffff;
    stroke: #ffffff;
  }
}

.svgStyle {
  width: 25px;
  height: 25px;
  border: 2px solid #9197b3;
  border-radius: 25%;
  @include flex_center;
}

.active {
  color: #008767;
  background-color: rgba(22, 192, 152, 0.38);
  width: 75%;
  border-radius: 4px;
  border: 1px solid #00b087;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inactive {
  color: #df0404;
  background-color: #ffc5c5;
  width: 75%;
  border-radius: 4px;
  border: 1px solid #df0404;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4%;

  :nth-child(2) {
    color: #ffffff;
    background-color: #5932ea;
  }

  button {
    width: 25px;
    height: 25px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin: 0 5px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #404b52;
    background-color: #f5f5f5;
    cursor: pointer;
  }
}
