.main_container {
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin-left: 5%;
      :first-child {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -0.01em;
        color: #000000;
        margin-bottom: 0;
      }

      :last-child {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #16c098;
        margin-top: 0;
      }
    }

    .search {
      margin-right: 5%;
      background: #f9fbff;
      border-radius: 10px;
      position: relative;

      .icon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 6px;
        left: 5px;
      }

      .input_field {
        background: #f6f6f6;
        border: none;
        padding: 12px 20px;
        padding-left: 30px;
        // width: 30%;
        border-radius: 10px;
        font-size: 0.7rem;
      }
    }
  }

  .customers_list {
    margin: 0 5%;

    .table_titles {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr;
      border-bottom: 1px solid #eeeeee;
      font-weight: bold;

      li {
        font-weight: 500;
        font-size: 0.7rem;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #b5b7c0;
        margin-bottom: 10px;
        text-align: left;
      }

      :last-child {
        text-align: center;
      }
    }

    .template {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr;
      border-bottom: 1px solid #eeeeee;

      p {
        text-align: left;
        font-weight: 500;
        font-size: 0.7rem;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #292d32;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-weight: 500;
      font-size: 0.7rem;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: #b5b7c0;
      margin: 3% 5%;
    }
  }
}
