@import "../../styles/mixins.scss";

.board_container {
  @include flex_center;
  flex-direction: column;
  min-height: 100vh;

  .wrapper {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .title {
      width: 90%;
      display: flex;
      justify-content: flex-start;
      margin-left: 8%;

      div {
        width: 35px;
        height: 35px;
        margin-top: 25px;
      }

      p {
        margin-left: 5px;
        margin-top: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 39px;
        letter-spacing: 0.01em;
        color: #000000;

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 15px;
          letter-spacing: -0.01em;
          color: #838383;
        }
      }
    }

    .board_list {
      width: 100%;
      text-align: center;

      ul {
        width: inherit;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          width: 90%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 15px;
          margin: 0 5%;
          padding: 0 5%;
          cursor: pointer;

          div {
            display: flex;
            width: 70%;

            p {
              font-weight: 500;
              font-size: 1rem;
              line-height: 21px;
              color: #9197b3;
            }

            :first-child {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }

  .board_footer {
    flex-shrink: 0;
    padding: 10px;
    margin-top: auto;
    display: flex;
    align-items: center;

    :first-child {
      margin-right: 5px;
    }

    :last-child {
      :first-child {
        font-weight: 500;
        font-size: 0.75rem;
        color: #000000;
      }

      :last-child {
        font-weight: 400;
        font-size: 0.7rem;
        letter-spacing: 0.01em;
        color: #757575;
      }
    }

    p {
      margin: 0;
      text-align: left;
    }
  }
}

@media (max-width: 1020px) {
  .title {
    p {
      span {
        display: none;
      }
    }
  }
}

@media (max-width: 860px) {
  .title {
    div {
      display: none;
    }
  }

  .board_list {
    ul {
      li {
        div {
          :first-child {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .board_container {
    min-height: auto;

    .wrapper {
      .title {
        height: fit-content;
        display: flex;
        margin: 0 5%;

        div {
          display: block;
        }

        p {
          margin-bottom: 10px;
          span {
            display: inline-block;
          }
        }
      }

      .board_list {
        padding: 0 3%;

        ul {
          display: flex;

          li {
            margin: 0;
            padding: 0 2%;
            width: 100%;
            justify-content: center;

            svg {
              display: none;
            }
          }
        }
      }
    }

    .board_footer {
      margin-left: 5%;
      align-self: flex-start;
    }
  }
}

@media (max-width: 680px) {
  .board_list {
    display: none;
  }
}
